<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" href="">{{name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/carteira']">Minha Carteira</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/bitcoin']">Valor do BitCoin</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Projeto feito por:</h1>
      <div>
        <p>
          <b>Nome:</b> Paloma Pereira Barroqueiro <br>
          <b>RA:</b> 0050831921020 <br>
          <b>GitHub: <a target="_blank" href="https://github.com/PalomaPB">github.com/PalomaPB</a></b> 
        </p>
      </div>
    </div>
  </div>
</div>

<hr class="m-4">

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>